@import "../../../less/variables.less";

/* Theme Elements */
#wrapper
{
	margin-top: -@navbarHeight;
	padding-top: @navbarHeight;
	padding-bottom: 30px;
	background: @white;
}

/* Comments */
.comments-container
{
	padding-top: 30px;
	border-top: @grayDark 1px solid;
}

/* Footer */
.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 30px;
	border-top: 1px solid @grayDarker;
	background-color: @gray;
}
.footer p {
	margin-bottom: 0;
	color: @grayDarker;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}
.footer-links li:first-child {
	padding-left: 0;
}